<ion-content class="profile-view">
    <div class="profile-box">
              <span class="edit" routerLink="/tabs/edit-profile">
                <ion-icon name="create" color="light"></ion-icon>
              </span>
              <ion-icon name="person" color="light" class="user-logo"></ion-icon>
              <div>
                {{ authUser.first_name + ' ' + authUser.last_name }}
              </div>
              
            </div>
            <ion-list>
              <ion-item>
                <span class="p-description">First Name :</span> {{ authUser.first_name }}
              </ion-item>
              <ion-item>
                <span class="p-description">Last Name :</span>  {{ authUser.last_name }}
              </ion-item>
              <ion-item>
                <span class="p-description">Email :</span> {{ authUser.email }}
              </ion-item>
              <ion-item>
                <span class="p-description">Address :</span> {{ authUser.address }}
              </ion-item>
              <ion-item>
                <span class="p-description">Phone :</span> {{ authUser.phone }}
              </ion-item>
            </ion-list>
            <div class="logout-option">
            	<ion-button size="small" color="danger" (click)="logoutUser()">
            			<ion-icon name="power"></ion-icon> Logout
        			</ion-button>
            </div>
</ion-content>
