<ion-tabs>
  <ion-tab-bar slot="bottom" #customTabBar id="customTabBar">
    <ion-tab-button tab="guides" color="light">
      <ion-icon name="bookmarks"></ion-icon>
      <ion-label>Guide</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="alerts" color="light" *ngIf="authUser.role === 3">
      <ion-icon name="ios-megaphone"></ion-icon>
      <ion-label>Alerts</ion-label>
    </ion-tab-button>

    <ion-tab-button  class="toggle-alert" (click) = "newEmergencyAlert()">
      <ion-icon name="notifications" color="danger" size="large" sr="icon-only" class="toggle-icon"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="feedbacks" color="light">
      <ion-icon name="text"></ion-icon> 
      <ion-label>Feedbacks</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="view-profile" color="light">
      <ion-icon name="person"></ion-icon> 
      <ion-label>User</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
