<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="guides" color="light">
      <ion-icon name="bookmarks"></ion-icon>
      <ion-label>Guide</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="alerts" color="light">
      <ion-icon name="ios-megaphone"></ion-icon>
      <ion-label>Alerts</ion-label>
    </ion-tab-button>

    <ion-tab-button  class="toggle-alert" (click) = "newEmergencyAlert()">
      <ion-icon name="ios-rocket" color="danger" size="large" sr="icon-only" class="toggle-icon"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3" color="light">
      <ion-icon name="text"></ion-icon> 
      <ion-label>ChatBox</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" color="light">
      <ion-icon name="ios-keypad"></ion-icon> 
      <ion-label>More</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
