<ion-content padding>
	<div class="view-alert">
		<ion-button size="small" class="top-right">
			<ion-icon name="thumbs-up"></ion-icon> Rescue
		</ion-button>
		<div>
			<span class="alert-description"> User in need :</span> Doe
		</div>
		<div>
			<span class="alert-description"> Location :</span> Goma, Kivu-Lake
		</div>
		<div>
			<span class="alert-description"> Time :</span> 07:30AM
		</div>
		<div>
			<span> On map </span>
		</div>
		<div class="map-descriptions">
			
		</div>
	</div>
</ion-content>
