// ion-content{
//     ion-label{
//         font-weight: bold;
//     }
//     ion-avatar{
//         ion-img{
//             height: 100px;
//             width:100px;
//         }
//     }
// }
ion-content{
    .text-bold{
      font-weight: 550;
      font-family: inherit;
    }
    .text-muted{
      font-weight: normal;
      font-style: unset;
      font-family: unset;
      color:gray;
    }
  }
