<ion-app>
  <ion-split-pane contentId="side">
      <ion-menu side="start" contentId="side" class="sideMenu" swipeGesture="true" type="overlay" *ngIf="this.auth">
        <ion-content>
            <div class="profile-box">
              <span class="edit" routerLink="/tabs/edit-profile">
                <ion-icon name="create" color="light"></ion-icon>
              </span>
              <ion-icon name="person" color="light" class="user-logo"></ion-icon>
              <div>
                Person name
              </div>
              
            </div>
            <ion-list>
              <ion-item routerLink="/tabs/guides">
                <ion-icon name="home" color="dark"></ion-icon> 
                <ion-text color="dark">Home</ion-text>
              </ion-item>
              <ion-item routerLink="/tabs/guides">
                  <ion-icon name="albums" color="dark"></ion-icon> 
                  <ion-text color="dark">Guides</ion-text>
                  <ion-badge slot="end" color="success" mode="ios">100</ion-badge>
              </ion-item>
              <ion-item routerLink="/tabs/alerts">
                  <ion-icon name="locate" color="dark"></ion-icon> 
                  <ion-text color="dark">Alerts Tracker</ion-text>
                  <ion-badge slot="end" color="success" mode="ios">100</ion-badge>
              </ion-item>
              <ion-item routerLink="/tabs/feedbacks">
                  <ion-icon name="chatbubbles" color="dark"></ion-icon> 
                  <ion-text color="dark">FeedBacks</ion-text>
                  <ion-badge slot="end" color="success" mode="ios">100</ion-badge>
              </ion-item>
              <ion-item>
                <ion-icon name="cog" color="dark"></ion-icon> 
                <ion-text color="dark">Settings</ion-text>
              </ion-item>
            </ion-list>
        </ion-content>
      </ion-menu>
      <ion-content id="side">
          <ion-header mode="ios">
              <ion-toolbar>
                  <ion-menu-button menu="start" auto-hide="false" color="light"></ion-menu-button>
                  <ion-title>{{ pageTitle }}</ion-title>
                  <span class="notifications-area" routerLink="/tabs/notifications">
                    <ion-icon name="notifications" color="light"></ion-icon>
                  </span>
              </ion-toolbar>
            </ion-header>
          <ion-router-outlet class="contents"></ion-router-outlet>
      </ion-content>
      
  </ion-split-pane>
</ion-app>
