ion-header{
    height: 10vh;
    ion-toolbar{
        --border-color: transparent !important;
        --border-width: 0 0 0 0 !important;
        --background : #74cbff;
        ion-title{
            width: 75%;
            display: inline-block;
            text-align: center;
            font-weight: 500;
            color : #ffffff;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    
        }
        ion-menu-button, ion-title{
            display: inline-block;
        }
    }
}
ion-menu{
    &.sideMenu{
        --min-width:50vh;
        --max-width:50vh;
        .profile-box{
            background : linear-gradient(to right,rgb(116, 203, 255), rgba(178, 227, 255, 0.95),rgb(116, 203, 255));
            height: 25vh;
        }
    }
}
ion-content{
    .contents{
        margin-top: 8vh;
    }
    ion-item{
        ion-icon{
          padding: 10px;
          border-radius: 50%;
          font-size: 1.5em;
          &.low{
            background: #fff174;
          }
          &.medium{
            background: #74cbff;
          }
          &.high{
            color: #ffff;
            background: #ff9393;
          }
        }
        ion-label{
          font-size:1em;
          &.guide-title{
            font-family: sans-serif;
            font-size: .94em;
            font-weight: bolder;
            text-transform: capitalize;
          }
          p{
            font-size: .85em !important;      }
        }
      }
}


