<ion-content>
    <ion-list>
        <ion-item *ngFor="let friend of getFriends; index as i" class="chats" lines="full">
            <ion-avatar slot="start" (click)="userProfile(chat.user)">
                <ion-icon name="flame" class="{{i % 2 === 0 ? 'low' : (i % 3 === 0) ? 'medium' : 'high'}}" size="xx-large">
                </ion-icon>
            </ion-avatar>
            <ion-label (click)="chatInfos(chat.user)" class="chat">
                <ion-label class="guide-title">{{
                    (i % 2) === 0 
                    ? 'Sickness' : 
                    (i % 3 === 0) ? 'Accident' : 'Fire Case'
                }}</ion-label>
                <p class="text-muted">
                    <span class="m_content">An emergency case has been pointed out</span>
                    <i class="date-text">{{ '2019-06-17T02:06:31.796Z' | date }} at {{ '2019-06-17T02:06:31.796Z' | date:'shortTime' }}</i>
                </p>
                <ion-button size="small">
                    <ion-icon name="thumbs-up"></ion-icon> Rescue
                </ion-button>
            </ion-label>
        </ion-item>
    </ion-list>
    
</ion-content>
