<ion-content>
    <ion-list *ngIf="alerts.length">
        <ion-item *ngFor="let alert of alerts; index as i" class="chats" lines="full" >
            <ion-avatar slot="start">
                <ion-icon name="flame" class="{{i % 2 === 0 ? 'low' : (i % 3 === 0) ? 'medium' : 'high'}}" size="xx-large">
                </ion-icon>
            </ion-avatar>
            <ion-label class="guide-title" (click)="viewEmergency(alert)">{{
                (alert.type === 4) 
                ? 'Unkown' : 
                alert.type_name + ' Emergency'
            }}
            <p class="text-muted">
                <i class="date-text">{{ alert.created_on | date }}</i>
            </p>
            </ion-label>
            
            <ion-button size="small" class="btn-section" (click)="approveEmergency(alert.id)" *ngIf="alert.status === 0">
                <ion-icon name="thumbs-up"></ion-icon> Rescue
            </ion-button>
        </ion-item>
    </ion-list>
    
</ion-content>
