<ion-content padding>
	<ion-list lines="none" class="notifications">
	  <ion-item>
	    <ion-label class="notification-msg">Your emergency alert has been acknowledged</ion-label>
	  </ion-item>
	  <ion-item>
	    <ion-label class="notification-msg">Your emergency alert is pending...</ion-label>
	  </ion-item>
	  <ion-item>
	    <ion-label class="notification-msg">Your emergency alert is pending...</ion-label>
	  </ion-item>
	  <ion-item>
	    <ion-label class="notification-msg">You triggered an emergency alert</ion-label>
	  </ion-item>
	  <ion-item>
	    <ion-label class="notification-msg">Your emergency alert has been acknowledged</ion-label>
	  </ion-item>
	</ion-list>
</ion-content>
