ion-content{
	ion-list{
		ion-item{
			color: #20587a;
			--background: rgba(226, 241, 251, .4);
			border-radius: 0.2rem;
			margin-bottom: .2em;
			border: 1px solid #74cbff;
			font-size: .97rem;
		}
	}
}